BMICalculatorServer/xml-resources/web-service-references/BMICalcService/wsdl/localhost_8080/WebServiceBMICalculator/BMICalcService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.bmicalc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.bmicalc.com/" name="BMICalcService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.bmicalc.com/" schemaLocation="http://localhost:8080/WebServiceBMICalculator/BMICalcService?xsd=1"/>
</xsd:schema>
</types>
<message name="viewListHistoryBMI">
<part name="parameters" element="tns:viewListHistoryBMI"/>
</message>
<message name="viewListHistoryBMIResponse">
<part name="parameters" element="tns:viewListHistoryBMIResponse"/>
</message>
<message name="viewListHistoryIdeal">
<part name="parameters" element="tns:viewListHistoryIdeal"/>
</message>
<message name="viewListHistoryIdealResponse">
<part name="parameters" element="tns:viewListHistoryIdealResponse"/>
</message>
<message name="hitungBeratIdeal">
<part name="parameters" element="tns:hitungBeratIdeal"/>
</message>
<message name="hitungBeratIdealResponse">
<part name="parameters" element="tns:hitungBeratIdealResponse"/>
</message>
<message name="cekLogin">
<part name="parameters" element="tns:cekLogin"/>
</message>
<message name="cekLoginResponse">
<part name="parameters" element="tns:cekLoginResponse"/>
</message>
<message name="dataUntukGrafik">
<part name="parameters" element="tns:dataUntukGrafik"/>
</message>
<message name="dataUntukGrafikResponse">
<part name="parameters" element="tns:dataUntukGrafikResponse"/>
</message>
<message name="dataToString">
<part name="parameters" element="tns:dataToString"/>
</message>
<message name="dataToStringResponse">
<part name="parameters" element="tns:dataToStringResponse"/>
</message>
<message name="insertAccount">
<part name="parameters" element="tns:insertAccount"/>
</message>
<message name="insertAccountResponse">
<part name="parameters" element="tns:insertAccountResponse"/>
</message>
<message name="hitungBMI">
<part name="parameters" element="tns:hitungBMI"/>
</message>
<message name="hitungBMIResponse">
<part name="parameters" element="tns:hitungBMIResponse"/>
</message>
<message name="insertDataBMI">
<part name="parameters" element="tns:insertDataBMI"/>
</message>
<message name="insertDataBMIResponse">
<part name="parameters" element="tns:insertDataBMIResponse"/>
</message>
<message name="insertDataIdeal">
<part name="parameters" element="tns:insertDataIdeal"/>
</message>
<message name="insertDataIdealResponse">
<part name="parameters" element="tns:insertDataIdealResponse"/>
</message>
<message name="listIdBlock">
<part name="parameters" element="tns:listIdBlock"/>
</message>
<message name="listIdBlockResponse">
<part name="parameters" element="tns:listIdBlockResponse"/>
</message>
<message name="blockAccount">
<part name="parameters" element="tns:blockAccount"/>
</message>
<message name="blockAccountResponse">
<part name="parameters" element="tns:blockAccountResponse"/>
</message>
<portType name="BMICalcService">
<operation name="viewListHistoryBMI">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/viewListHistoryBMIRequest" message="tns:viewListHistoryBMI"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/viewListHistoryBMIResponse" message="tns:viewListHistoryBMIResponse"/>
</operation>
<operation name="viewListHistoryIdeal">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/viewListHistoryIdealRequest" message="tns:viewListHistoryIdeal"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/viewListHistoryIdealResponse" message="tns:viewListHistoryIdealResponse"/>
</operation>
<operation name="hitungBeratIdeal">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/hitungBeratIdealRequest" message="tns:hitungBeratIdeal"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/hitungBeratIdealResponse" message="tns:hitungBeratIdealResponse"/>
</operation>
<operation name="cekLogin">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/cekLoginRequest" message="tns:cekLogin"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/cekLoginResponse" message="tns:cekLoginResponse"/>
</operation>
<operation name="dataUntukGrafik">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/dataUntukGrafikRequest" message="tns:dataUntukGrafik"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/dataUntukGrafikResponse" message="tns:dataUntukGrafikResponse"/>
</operation>
<operation name="dataToString">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/dataToStringRequest" message="tns:dataToString"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/dataToStringResponse" message="tns:dataToStringResponse"/>
</operation>
<operation name="insertAccount">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/insertAccountRequest" message="tns:insertAccount"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/insertAccountResponse" message="tns:insertAccountResponse"/>
</operation>
<operation name="hitungBMI">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/hitungBMIRequest" message="tns:hitungBMI"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/hitungBMIResponse" message="tns:hitungBMIResponse"/>
</operation>
<operation name="insertDataBMI">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/insertDataBMIRequest" message="tns:insertDataBMI"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/insertDataBMIResponse" message="tns:insertDataBMIResponse"/>
</operation>
<operation name="insertDataIdeal">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/insertDataIdealRequest" message="tns:insertDataIdeal"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/insertDataIdealResponse" message="tns:insertDataIdealResponse"/>
</operation>
<operation name="listIdBlock">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/listIdBlockRequest" message="tns:listIdBlock"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/listIdBlockResponse" message="tns:listIdBlockResponse"/>
</operation>
<operation name="blockAccount">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/blockAccountRequest" message="tns:blockAccount"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/blockAccountResponse" message="tns:blockAccountResponse"/>
</operation>
</portType>
<binding name="BMICalcServicePortBinding" type="tns:BMICalcService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewListHistoryBMI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewListHistoryIdeal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hitungBeratIdeal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dataUntukGrafik">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dataToString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hitungBMI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataBMI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataIdeal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listIdBlock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="blockAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BMICalcService">
<port name="BMICalcServicePort" binding="tns:BMICalcServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceBMICalculator/BMICalcService"/>
</port>
</service>
</definitions>